@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&family=Quicksand:wght@500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #111111;
  color: #fff;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  background-image: url("../img/banner.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: top center;
}

body.adminpage {
  background-image: none;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #ae7c10;
  border-radius: 6px;
}

.header {
  width: 960px;
  margin: auto;
}

.header .menu {
  width: 100%;
  height: 150px;
  position: relative;
}

.header .menu:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/navigation_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 150px;
  opacity: 0.95;
  z-index: -1;
}

.header .menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 63px;
}

.header .menu ul li {
  list-style: none;
  display: inline;
  padding: 20px;
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}

.header .menu ul li a {
  color: inherit;
}

.header .menu ul li.active {
  color: #ae7c10 !important;
}

.header .menu ul li:hover {
  opacity: 0.6;
}

.container {
  width: 960px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .left-container,
.container .right-container {
  width: 220px;
  margin-top: 100px;
}

.container .main-container {
  width: 460px;
  margin: 0px 30px;
}

.container .admin-container {
  width: 710px;
  margin-left: 30px;
}

.container .admin-left-container {
  width: 220px;
}

.main-content {
  margin-top: 430px;
}

.panel {
  background: #141414;
  border: 1px solid #ae7c10;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.panel:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  margin-left: -2px;
  margin-top: -2px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: #141414;
  border: 1px solid #ae7c10;
  z-index: -1;
  opacity: 0.3;
}

.panel .panel-body {
  padding: 10px;
  width: 100%;
}

.panel .panel-header {
  padding: 10px;
  font-size: 14px;
  background-color: #ae7c10;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.school-war-container .school-war-item {
  margin-bottom: 20px;
}

.school-war-container .school-war-item-img {
  width: 50px;
}

.school-war-container .school-war-item-img img {
  max-width: 100%;
}

.school-war-container .school-war-item-details {
  margin-left: 10px;
}

.school-war-container .school-war-item-details > * {
  margin: 0px;
  margin-bottom: -3px;
  font-weight: 700;
  color: #3a3a3a;
}

.school-war-container .school-war-item-details h3 {
  font-weight: 900;
  color: #fff;
  font-size: 18px;
}

.school-war-container .school-war-item-details-school {
  color: #fff;
}

.school-war-container .school-war-item-details p {
  font-size: 10px;
}

.item-shop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.item-shop-container .item-shop-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-top: 10px;
}

.item-shop-container .item-shop-item:last-child {
  margin-bottom: 10px;
}

.item-shop-container .item-shop-item-img {
  width: 60px;
}

.item-shop-container .item-shop-item-img img {
  max-width: 100%;
}

.item-shop-container .item-shop-item-details {
  margin-left: 10px;
}

.item-shop-container .item-shop-item-details p {
  margin: 0px;
  font-size: 10px;
  font-weight: 800;
}

.item-shop-container .item-shop-item-details p:first-child {
  font-size: 12px;
}

.item-shop-container .item-shop-item-details button {
  margin-top: 5px;
}

.news-container {
  font-weight: 700;
}

.news-container .news-item {
  margin-bottom: 15px;
}

.news-container .news-item:first-child {
  margin-top: 15px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  color: #5c5c5c;
  margin-bottom: 10px;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
}

.form-group .form-control {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #000;
}

.form-group .form-control:focus {
  outline: none;
  border-color: #ae7c10;
}

.btn {
  font-weight: 500;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
}

.btn:focus {
  outline: none;
}

.btn.btn-small {
  font-size: 10px;
  padding: 3px 8px !important;
}

.btn.btn-primary {
  background: #ae7c10;
  border-radius: 8px;
  padding: 7px 10px;
  border: 1px solid #000;
  color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn.btn-gradient-primary {
  background: #b1891c;
  background: -webkit-gradient(linear, left bottom, left top, from(#b1891c), to(#dfad26));
  background: linear-gradient(0deg, #b1891c 0%, #dfad26 100%);
  border-radius: 8px;
  padding: 7px 10px;
  border: 1px solid #000;
  border-bottom-width: 3px;
  border-bottom-color: #664d08;
  color: #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn:hover {
  opacity: 0.5;
}

.btn:focus {
  margin-top: 2px;
  border-bottom-width: 1px;
}

.slider-container {
  position: relative;
  height: 280px;
}

.slider-container .slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.slider-container .slider .slider-items {
  margin: 0;
  padding: 0;
}

.slider-container .slider .slider-items li {
  list-style: none;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.slider-container .slider .slider-items li.active {
  display: block;
}

.slider-container .slider .slider-control {
  margin: 0;
  padding: 0;
}

.slider-container .slider .slider-control li {
  list-style: none;
  position: absolute;
  top: calc(50% - 10px);
  z-index: 9999999;
}

.slider-container .slider .slider-control li.next {
  right: 20px;
}

.slider-container .slider .slider-control li.prev {
  left: 20px;
}

.rankings-container .rankings-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.rankings-container .rankings-item-img {
  width: 50px;
  margin-right: 10px;
}

.rankings-container .rankings-item-img img {
  max-width: 100%;
}

.rankings-container .rankings-item-details > * {
  margin: 0;
  margin-bottom: -2px;
}

.rankings-container .rankings-item-details p {
  font-weight: 800;
}

footer {
  background-image: url("../img/footer_bg.png");
  height: 500px;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  margin-top: -200px;
  padding-top: 300px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix {
  clear: both;
  float: none;
}

.text-center {
  text-align: center;
}

.font-kanti {
  font-family: 'Kanti', sans-serif;
}

.text-gold {
  color: #ae7c10;
}

.text-red {
  color: #cd1115;
}

.text-gray {
  color: #464646;
}

.text-green {
  color: #06cf79;
}

.m-0 {
  margin: 0 !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.small {
  font-size: 10px;
}

a {
  color: #ae7c10;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.label {
  padding: 3px 8px;
  background: #fff;
  border-radius: 3px;
  color: #000 !important;
}

.label-danger {
  background: #cd1115;
  color: #fff !important;
}

.label-primary {
  background: #ae7c10;
  color: #fff !important;
}

.label-success {
  background: #06cf79;
  color: #000 !important;
}

hr {
  height: 1px;
  border: none;
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, #c99c21), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #c99c21 50%, rgba(0, 0, 0, 0) 100%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: 9999999999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.modal-content {
  position: relative;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  background: #141414;
  border: 1px solid #ae7c10;
}

.modal-content-lg {
  width: 800px;
}

.modal-content-sm {
  width: 400px;
}

.modal-header [data-modal="close"] {
  margin-top: 5px;
  cursor: pointer;
}

.modal-header hr {
  margin-top: 15px;
}

.modal-body {
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */