@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&family=Quicksand:wght@500;700&display=swap');

* {

            box-sizing: border-box;
}

body {
    background: #111111;
    color: #fff;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    background-image: url('../img/banner.jpg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top center;

    &.adminpage {
        background-image: none;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #ae7c10;
        border-radius: 6px;
    }
}

.header {
    width: 960px;
    margin: auto;

    .menu {
        width: 100%;
        height: 150px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('../img/navigation_bg.png');
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 150px;
            opacity: 0.95;
            z-index: -1;
        }

        ul {
            margin: 0;
            padding: 0;
            text-align: center;
            padding-top: 63px;

            li {
                list-style: none;
                display: inline;
                padding: 20px;
                font-size: 18px;
                font-family: 'Kanit', sans-serif;
                text-transform: uppercase;
                transition: all 0.3s ease;
                color: #fff;

                a {
                    color:inherit;
                }

                &.active {
                    color: #ae7c10 !important;
                }

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

.container {
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: flex-start;

    .left-container,
    .right-container {
        width: 220px;
        margin-top: 100px;
    }

    .main-container {
        width: 460px;
        margin: 0px 30px;
    }

    .admin-container {
        width: 710px;
        margin-left: 30px;
    }

    .admin-left-container {
        width: 220px;
    }
}

.main-content {
    margin-top: 430px;
}


.panel {
    background: #141414;
    border: 1px solid #ae7c10;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    &:before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        margin-left: -2px;
        margin-top: -2px;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        background: #141414;
        border: 1px solid #ae7c10;
        z-index: -1;
        opacity: 0.3;
    }

    .panel-body {
        padding: 10px;
        width: 100%;
    }

    .panel-header {
        padding: 10px;
        font-size: 14px;
        background-color: #ae7c10;
        font-family: 'Kanit', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.school-war-container {
    .school-war-item {
        margin-bottom: 20px;

        &-img {
            width: 50px;
            
            img {
                max-width: 100%;
            }
        }

        &-details {
            margin-left: 10px;

            & > * {
                margin: 0px;
                margin-bottom: -3px;
                font-weight: 700;
                color: #3a3a3a;
            }

            h3 {
                font-weight: 900;
                color: #fff;
                font-size: 18px;
            }

            &-school {
                color: #fff;
            }

            p {
                font-size: 10px;
            }
        }
    }
}

.item-shop-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-basis: 50%;

    .item-shop-item {
        display: flex;
        width: 50%;
        margin-top: 10px;

        &:last-child {
            margin-bottom: 10px;
        }

        &-img {
            width: 60px;

            img {
                max-width: 100%;
            }
        }

        &-details {
            margin-left: 10px;

            p {
                margin: 0px;
                font-size: 10px;
                font-weight: 800;

                &:first-child {
                    font-size: 12px;
                }
            }

            button {
                margin-top: 5px;
            }
        }
    }
}

.news-container {
    font-weight: 700;

    .news-item {
        margin-bottom: 15px;

        &:first-child {
            margin-top: 15px;
        }
    }
}

.form-group {
    margin-bottom: 10px;
    
    label {
        color: #5c5c5c;
        margin-bottom: 10px;
        font-family: 'Kanit', sans-serif;
        text-transform: uppercase;
    }

    .form-control {
        width: 100%;
        border-radius: 8px;
        padding: 10px;
        border: 1px solid #000;

        &:focus {
            outline: none;
            border-color: #ae7c10;
        }
    }
}

.btn {
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;

    &:focus {
        outline: none;
    }

    &.btn-small {
        font-size: 10px;
        padding: 3px 8px !important;
    }

    &.btn-primary {
        background:#ae7c10;
        border-radius: 8px;
        padding: 7px 10px;
        border: 1px solid #000;
        color: #000;
        transition: all 0.2s ease;  
    }

    &.btn-gradient-primary {
        background: rgb(177,137,28);
        background: linear-gradient(0deg, rgba(177,137,28,1) 0%, rgba(223,173,38,1) 100%);
        border-radius: 8px;
        padding: 7px 10px;
        border: 1px solid #000;
        border-bottom-width: 3px;
        border-bottom-color: #664d08;
        color: #000;
        transition: all 0.2s ease;  
    }

    &:hover {
        opacity: 0.5;
    }

    &:focus {
        margin-top: 2px;
        border-bottom-width: 1px;
    }
}

.slider-container {
    position: relative;
    height: 280px;

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        .slider-items {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center center;

                &.active {
                    display: block;
                }
            }
        }

        .slider-control {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                position: absolute;
                top: calc(50% - 10px);
                z-index: 9999999;

                &.next {
                    right: 20px;
                }

                &.prev {
                    left: 20px;
                }
            }
        }
    }
}

.rankings-container {
    .rankings-item {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;

        &-img {
            width: 50px;
            margin-right: 10px;
            
            img {
                max-width: 100%;
            }
        }

        &-details {
            & > * {
                margin: 0;
                margin-bottom: -2px;
            }

            p {
                font-weight: 800;
            }
        }
    }
}

footer {
    background-image: url('../img/footer_bg.png');
    height: 500px;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    margin-top: -200px;
    padding-top: 300px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clearfix {
    clear: both;
    float: none;
}

.text-center {
    text-align: center;
}

.font-kanti {
    font-family: 'Kanti', sans-serif;
}

.text-gold {
    color: #ae7c10;
}


.text-red {
    color: #cd1115;
}

.text-gray {
    color: #464646;
}

.text-green {
    color: #06cf79;
}

.m-0 {
    margin: 0 !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-white {
    color: #fff;
}

.small {
    font-size: 10px;
}

a {
    color: #ae7c10;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.label {
    padding: 3px 8px;
    background: #fff;
    border-radius: 3px;
    color: #000 !important;

    &-danger {
        background: #cd1115;
        color: #fff !important;
    }

    &-primary {
        background: #ae7c10;
        color: #fff !important;
    }

    &-success {
        background: #06cf79;
        color: #000 !important;
    }
}

        hr {
            height: 1px;
            border: none;
            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(201,156,33,1) 50%, rgba(0,0,0,0) 100%);
        }


// Modal Update test

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    z-index: 9999999999;
    justify-content: center;
    display: none;

    &-content {
        position: relative;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 600px;
        padding: 20px;
        border-radius: 10px;
        background: #141414;
        border: 1px solid #ae7c10;
    }

    &-content-lg {
        width: 800px;
    }

    &-content-sm {
        width: 400px;
    }

    &-header {
        [data-modal="close"] {
            margin-top: 5px;
            cursor: pointer;
        }

        hr {
            margin-top: 15px;
        }
    }

    &-body {
        padding : 20px;
    }
}